<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DsConnectionString" connectionString="Server=.\SQL;Integrated Security=true;Initial Catalog=VDBS_TRACKING" />
    <add name="DCDsConnectionString" connectionString="Server=.\SQL;Integrated Security=true;Initial Catalog=VDBS_NABDC" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>