<Settings>
	<Services>
		<StartupType>#{StartupType}</StartupType>
		<AutoBalancing>
			<ServiceName>#{AutoBalancing.ServiceName}</ServiceName>
			<ServiceDescription>#{AutoBalancing.ServiceDescription}</ServiceDescription>
			<ServiceParameters>#{AutoBalancing.ServiceParameters}</ServiceParameters>
			<DependsOn>#{AutoBalancing.DependsOn}</DependsOn>
			<BinaryPath>#{AutoBalancing.BinaryPath}</BinaryPath>
			<ServiceUserAccount>#{AutoBalancing.ServiceUserAccount}</ServiceUserAccount>
			<ServiceUserPassword>#{AutoBalancing.ServiceUserPassword}</ServiceUserPassword>
		</AutoBalancing>
		<CodelineValidation>
			<ServiceName>#{CodelineValidation.ServiceName}</ServiceName>
			<ServiceDescription>#{CodelineValidation.ServiceDescription}</ServiceDescription>
			<ServiceParameters>#{CodelineValidation.ServiceParameters}</ServiceParameters>
			<DependsOn>#{CodelineValidation.DependsOn}</DependsOn>
			<BinaryPath>#{CodelineValidation.BinaryPath}</BinaryPath>
			<ServiceUserAccount>#{CodelineValidation.ServiceUserAccount}</ServiceUserAccount>
			<ServiceUserPassword>#{CodelineValidation.ServiceUserPassword}</ServiceUserPassword>
		</CodelineValidation>
    <GenerateCorrespondingVoucher>
      <ServiceName>#{GenerateCorrespondingVoucher.ServiceName}</ServiceName>
      <ServiceDescription>#{GenerateCorrespondingVoucher.ServiceDescription}</ServiceDescription>
      <ServiceParameters>#{GenerateCorrespondingVoucher.ServiceParameters}</ServiceParameters>
      <DependsOn>#{GenerateCorrespondingVoucher.DependsOn}</DependsOn>
      <BinaryPath>#{GenerateCorrespondingVoucher.BinaryPath}</BinaryPath>
      <ServiceUserAccount>#{GenerateCorrespondingVoucher.ServiceUserAccount}</ServiceUserAccount>
      <ServiceUserPassword>#{GenerateCorrespondingVoucher.ServiceUserPassword}</ServiceUserPassword>
    </GenerateCorrespondingVoucher>
    <GenerateBulkCredit>
      <ServiceName>#{GenerateBulkCredit.ServiceName}</ServiceName>
      <ServiceDescription>#{GenerateBulkCredit.ServiceDescription}</ServiceDescription>
      <ServiceParameters>#{GenerateBulkCredit.ServiceParameters}</ServiceParameters>
      <DependsOn>#{GenerateBulkCredit.DependsOn}</DependsOn>
      <BinaryPath>#{GenerateBulkCredit.BinaryPath}</BinaryPath>
      <ServiceUserAccount>#{GenerateBulkCredit.ServiceUserAccount}</ServiceUserAccount>
      <ServiceUserPassword>#{GenerateBulkCredit.ServiceUserPassword}</ServiceUserPassword>
    </GenerateBulkCredit>
	</Services>
</Settings>