<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost;username=guest;password=guest;publisherConfirms=true;timeout=10" />
    <add name="dips" connectionString="Server=SKINNYFOOL\DATAFOOL;Integrated Security=true;Initial Catalog=NabChq" />
  </connectionStrings>

  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Lombard\Logs\ChequeReadService.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="topshelf:ServiceName" value="FXA.BPS.ChequeDigitisation.ImageProcess.A2IAAdapterService" />
    <add key="topshelf:ServiceDescription" value="Cheque Digitisation A2IA Adapter Service" />
    <add key="topshelf:ServiceDisplayName" value="A2IA Adapter Service" />
    <add key="adapter:ExchangeName" value="lombard.service.outclearings.recognisecourtesyamount.request" />
    <add key="adapter:InboundQueueName" value="lombard.service.outclearings.recognisecourtesyamount.request.queue" />
    <add key="adapter:OutboundQueueName" value="lombard.service.outclearings.recognisecourtesyamount.response.queue" />
    <add key="adapter:ManualProcessQueueName" value="ChequeManualProcess" />
    <add key="adapter:ErrorQueueName" value="ChequeError" />
    <add key="adapter:ParameterPath" value="D:\Program Files\A2iA\A2iA CheckReader V6.0 R3\Parms\SoftInt\Parms" />
    <!--<add key="adapter:TablePath" value="D:\Program Files\A2iA\A2iA CheckReader V6.0 R3\Data\Checks\CFAU_AMT\AU_AMT.tbl" />-->
    <add key="adapter:TablePath" value="D:\FXA\Testing\CFAU_AMT\AU_Custom.tbl" />
    <add key="adapter:CPUNames" value="Frank-Laptop,Frank-Laptop,Frank-Laptop,Frank-Laptop" />
    <add key="adapter:ImageFileFolder" value="C:\SMS\Fuji Xerox\A2IAIntegration\Test Images" />
    <add key="adapter:CARConfidenceLevelThreshold" value="900" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>