<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="c:\Car Adapter\Logs\log-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="30" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="topshelf:ServiceName" value="FXA.BPS.ChequeDigitisation.ImageProcess.A2IAAdapterService" />
    <add key="topshelf:ServiceDescription" value="Cheque Digitisation A2IA Adapter Service" />
    <add key="topshelf:ServiceDisplayName" value="A2IA Adapter Service" />
    <add key="queue:HostName" value="localhost" />
    <add key="queue:UserName" value="guest" />
    <add key="queue:Password" value="guest" />
    <add key="queue:Timeout" value="60000" />
    <add key="queue:HeartbeatSeconds" value="600" />
    <add key="queue:AutomaticRecoveryEnabled" value="true" />
    <add key="a2ia:MaxProcessorCount" value="3" />
    <add key="a2ia:ParameterPath" value="C:\Program Files\A2iA\A2iA CheckReader V6.0 R3\Parms\SoftInt\Parms" />
    <add key="adapter:InboundQueueName" value="lombard.service.outclearings.recognisecourtesyamount.request.queue" />
    <add key="adapter:OutboundExchangeName" value="lombard.service.outclearings.recognisecourtesyamount.response" />
    <add key="adapter:InvalidQueueName" value="lombard.service.outclearings.recognisecourtesyamount.request.queue.invalid" />
    <add key="adapter:InvalidRoutingKey" value="service" />
    <add key="adapter:ImageFileFolder" value="..\..\..\Lombard.Adapters.A2iaAdapter.IntegrationTests\TestData" />
    <add key="adapter:ImageFileNameTemplate" value="VOUCHER_{0:ddMMyyyy}_{1}_FRONT.tif" />
    <add key="adapter:TablePath" value="AU_Custom.tbl" />
    <add key="adapter:LoadMethod" value="File" />
    <add key="adapter:FileType" value="TIF" />
    <add key="adapter:ChannelTimeout" value="30000" />
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>