<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost;username=guest;password=guest;publisherConfirms=true;timeout=10" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Lombard\Logs\ChequeReadService.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="topshelf:ServiceName" value="FXA.BPS.ChequeDigitisation.ImageProcess.A2IAAdapterService" />
    <add key="topshelf:ServiceDescription" value="Cheque Digitisation A2IA Adapter Service" />
    <add key="topshelf:ServiceDisplayName" value="A2IA Adapter Service" />
    <add key="adapter:InboundQueueName" value="lombard.service.outclearings.recognisecourtesyamount.request.queue" />
    <add key="adapter:OutboundExchangeName" value="lombard.service.outclearings.recognisecourtesyamount.response" />
    <add key="adapter:ImageFileFolder" value="..\..\..\Lombard.Adapters.A2iaAdapter.IntegrationTests\TestData" />
    <add key="adapter:ImageFileNameTemplate" value="VOUCHER_{0:ddMMyyyy}_{1}_FRONT.tif" />
    <add key="a2ia:MaxProcessorCount" value="2" />
    <add key="a2ia:TablePath" value="AU_Custom.tbl" />
    <add key="a2ia:ParameterPath" value="C:\Program Files\A2iA\A2iA CheckReader V6.0 R3\Parms\SoftInt\Parms" />
    <add key="a2ia:LoadMethod" value="File" />
    <add key="a2ia:FileType" value="TIF" />
    <add key="a2ia:ChannelTimeout" value="30000" />
    <add key="a2ia:StickyChannelTimeout" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>