<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="adapter:HandleValidateCodelineRequest" value="false" />
    <add key="adapter:HandleValidateCodelineResponse" value="false" />
    <add key="adapter:HandleCorrectCodelineRequest" value="true" />
    <add key="adapter:HandleCorrectCodelineResponse" value="false" />
    <add key="adapter:HandleValidateTransactionRequest" value="true" />
    <add key="adapter:HandleValidateTransactionResponse" value="true" />
    <add key="adapter:HandleCorrectTransactionRequest" value="true" />
    <add key="adapter:HandleCorrectTransactionResponse" value="true" />
    <add key="adapter:HandleCheckThirdPartyRequest" value="true" />
    <add key="adapter:HandleCheckThirdPartyResponse" value="true" />
    <add key="adapter:HandleGenerateCorrespondingVoucherRequest" value="true" />
    <add key="adapter:HandleGenerateCorrespondingVoucherResponse" value="true" />
    <add key="adapter:HandleGetVoucherInformationRequest" value="true" />
    <add key="adapter:HandleGetVoucherInformationResponse" value="true" />
    <add key="adapter:HandleGenerateBulkCreditRequest" value="true" />
    <add key="adapter:HandleGenerateBulkCreditResponse" value="true" />

    <add key="adapter:ValidateCodelineExchangeName" value="lombard.service.outclearings.validatecodeline.response" />
    <add key="adapter:ValidateCodelineQueueName" value="lombard.service.outclearings.validatecodeline.request.queue" />
    <add key="adapter:CorrectCodelineExchangeName" value="lombard.service.outclearings.correctcodeline.response" />
    <add key="adapter:CorrectCodelineQueueName" value="lombard.service.outclearings.correctcodeline.request.queue" />
    <add key="adapter:ValidateTransactionExchangeName" value="lombard.service.outclearings.validatetransaction.response" />
    <add key="adapter:ValidateTransactionQueueName" value="lombard.service.outclearings.validatetransaction.request.queue" />
    <add key="adapter:CorrectTransactionExchangeName" value="lombard.service.outclearings.correcttransaction.response" />
    <add key="adapter:CorrectTransactionQueueName" value="lombard.service.outclearings.correcttransaction.request.queue" />
    <add key="adapter:CheckThirdPartyExchangeName" value="lombard.service.outclearings.checkthirdparty.response" />
    <add key="adapter:CheckThirdPartyQueueName" value="lombard.service.outclearings.checkthirdparty.request.queue" />
    <add key="adapter:GenerateCorrespondingVoucherExchangeName" value="lombard.service.outclearings.generatevouchers.response" />
    <add key="adapter:GenerateCorrespondingVoucherQueueName" value="lombard.service.outclearings.generatevouchers.request.queue" />
    <add key="adapter:GetPoolVouchersExchangeName" value="lombard.service.outclearings.getpoolvouchers.request" />
    <add key="adapter:GetPoolVouchersQueueName" value="lombard.service.outclearings.getpoolvouchers.response.queue" />
    <add key="adapter:GenerateBulkCreditExchangeName" value="lombard.service.outclearings.generatebulkcredit.response" />
    <add key="adapter:GenerateBulkCreditQueueName" value="lombard.service.outclearings.generatebulkcredit.request.queue" />

    <add key="adapter:ImagePath" value="C:\Lombard\Data\ClientImages" />
    <add key="adapter:DipsPriority" value="5" />
    <add key="adapter:Dbioff32Version" value="4.0.2.152" />
    <add key="adapter:DeleteDatabaseRows" value="true" />
    <add key="adapter:PackageSourceDirectory" value="C:\Lombard\Data\Jobs\OUTCLEARINGSPKG_{0}" />
    <add key="adapter:ImageMergeFrontFilename" value="{0}.im1" />
    <add key="adapter:ImageMergeRearFilename" value="{0}.im2" />
    <add key="adapter:ImageMergeFrontFileRegex" value=".*\\VOUCHER_\d+_(?&lt;trace&gt;.*)_FRONT\.jpg" />
    <add key="adapter:ImageMergeRearFileFormat" value=".*\\VOUCHER_\d+_(?&lt;trace&gt;.*)_REAR\.jpg" />
    <add key="adapter:BatchNumberFormat" value="702{0}" />
    <add key="adapter:DrnFormat" value="702{0}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.400" newVersion="2.2.4.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>