<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost;publisherConfirms=true;timeout=10" />
    <add name="dips" connectionString="Server=.\SQL2014;Integrated Security=true;Initial Catalog=NabChq" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Lombard\Logs\Adapters.DipsAdapter.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />

    <add key="topshelf:ServiceName" value="FXA.BPS.ChequeDigitisation.Adapters.DipsAdapter" />
    <add key="topshelf:ServiceDescription" value="Cheque Digitisation BusinessProcess To Dips Adapter Service" />
    <add key="topshelf:ServiceDisplayName" value="FXA BusinessProcess To Dips Adapter" />

    <add key="quartz:PollingIntervalSecs" value="10" />

    <add key="adapter:HandleValidateCodelineRequest" value="true" />
    <add key="adapter:HandleValidateCodelineResponse" value="true" />
    <add key="adapter:HandleCorrectCodelineRequest" value="true" />
    <add key="adapter:HandleCorrectCodelineResponse" value="true" />
    <add key="adapter:HandleValidateTransactionRequest" value="true" />
    <add key="adapter:HandleValidateTransactionResponse" value="true" />
    <add key="adapter:HandleCorrectTransactionRequest" value="true" />
    <add key="adapter:HandleCorrectTransactionResponse" value="true" />
    <add key="adapter:HandleCheckThirdPartyRequest" value="true" />
    <add key="adapter:HandleCheckThirdPartyResponse" value="true" />
    <add key="adapter:HandleGenerateCorrespondingVoucherRequest" value="true" />
    <add key="adapter:HandleGenerateCorrespondingVoucherResponse" value="true" />
    <add key="adapter:HandleGetVoucherInformationRequest" value="true" />
    <add key="adapter:HandleGetVoucherInformationResponse" value="true" />

    <add key="adapter:ValidateCodelineExchangeName" value="lombard.service.outclearings.validatecodeline.response" />
    <add key="adapter:ValidateCodelineQueueName" value="lombard.service.outclearings.validatecodeline.request.queue" />
    <add key="adapter:CorrectCodelineExchangeName" value="lombard.service.outclearings.correctcodeline.response" />
    <add key="adapter:CorrectCodelineQueueName" value="lombard.service.outclearings.correctcodeline.request.queue" />
    <add key="adapter:ValidateTransactionExchangeName" value="lombard.service.outclearings.validatetransaction.response" />
    <add key="adapter:ValidateTransactionQueueName" value="lombard.service.outclearings.validatetransaction.request.queue" />
    <add key="adapter:CorrectTransactionExchangeName" value="lombard.service.outclearings.correcttransaction.response" />
    <add key="adapter:CorrectTransactionQueueName" value="lombard.service.outclearings.correcttransaction.request.queue" />
    <add key="adapter:CheckThirdPartyExchangeName" value="lombard.service.outclearings.checkthirdparty.response" />
    <add key="adapter:CheckThirdPartyQueueName" value="lombard.service.outclearings.checkthirdparty.request.queue" />
    <add key="adapter:GenerateCorrespondingVoucherExchangeName" value="lombard.service.outclearings.generatevouchers.response" />
    <add key="adapter:GenerateCorrespondingVoucherQueueName" value="lombard.service.outclearings.generatevouchers.request.queue" />
    <add key="adapter:GetPoolVouchersExchangeName" value="lombard.service.repository.getvouchersinformation.request" />
    <add key="adapter:GetPoolVouchersQueueName" value="lombard.service.outclearings.getpoolvouchers.response.queue" />

    <add key="adapter:ImagePath" value="C:\Lombard\Data\ClientImages" />
    <add key="adapter:DipsPriority" value="5" />
    <add key="adapter:Dbioff32Version" value="4.0.2.152" />
    <add key="adapter:DeleteDatabaseRows" value="true" />
    <add key="adapter:PackageSourceDirectory" value="..\..\..\Lombard.Adapters.DipsAdapter.IntegrationTests\bin\Debug\TestData\OUTCLEARINGSPKG_{0}" />
    <add key="adapter:ImageMergeFrontFilename" value="{0}.im1" />
    <add key="adapter:ImageMergeRearFilename" value="{0}.im2" />
    <add key="adapter:ImageMergeFrontFileRegex" value=".*\\VOUCHER_\d+_(?&lt;trace&gt;.*)_FRONT\.jpg" />
    <add key="adapter:ImageMergeRearFileFormat" value=".*\\VOUCHER_\d+_(?&lt;trace&gt;.*)_REAR\.jpg" />

    <add key="queue:HostName" value="localhost"/>
    <add key="queue:UserName" value="guest"/>
    <add key="queue:Password" value="guest"/>
    <add key="queue:Timeout" value="10000"/>
    <add key="queue:HeartbeatSeconds" value="10"/>
    <add key="queue:InvalidExchangeName" value="InvalidExchange"/>
    <add key="queue:InvalidRoutingKey" value="System"/>
    <add key="queue:RecoverableRoutingKey" value="Recover"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>