
[General]
Mode=3
Position=0,0,0,0
Title=Floating Control
DockOption=Top,0,2,100,75
Name=image
# S.Douglas, CR24623, Nov 2015. Added new setting to force the height of a
# window/pane to be proportional to the client window, rather than absolute
# pixel count. See CodelineCorrect_image.cfg for more info
ProportionalHeight=y

[Forms]
Form_1=G:\dips402\sys402\client\nabchq\CodelineCorrect_float.cfg

[Control_1]
Type=Label
Name=BatchLabel
Value=Batch No:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=34,13,96,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_2]
Type=Label
Name=BatchNumber
DBField=Batch
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=100,13,170,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_3]
Type=Label
Name=DrnLabel
Value=DRN:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=180,13,210,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_4]
Type=Label
Name=DRNDisplay
DBField=doc_ref_num
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=215,13,290,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_5]
Type=Label
Name=WorkTypeLabel
Value=WorkType:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=300,13,360,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_6]
Type=Label
Name=WorkTypeDisplay
DBField=job_id
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=370,13,450,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_7]
Type=Label
Name=InvalidFieldLabel
Value=Invalid Fields:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=480,13,570,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_8]
Type=Label
Name=InvalidField
DBField=DIPS:INVALIDFIELDCOUNT
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Foreground Colour=255,255,0
Invalid Background Colour=0,128,255
Deleted Foreground Colour=255,255,0
Deleted Background Colour=0,0,0
Position=575,13,605,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_9]
Type=Label
Name=TotalRecordsLabel
Value=Total Records:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=630,13,720,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_10]
Type=Label
Name=TotalRecords
DBField=DIPS:RECORDCOUNT
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Foreground Colour=255,255,0
Invalid Background Colour=0,128,255
Deleted Foreground Colour=255,255,0
Deleted Background Colour=0,0,0
Position=730,13,760,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_11]
Type=Label
Name=CollectingBSBLabel
Value=Collecting BSB:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=790,13,898,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_12]
Type=Label
Name=CollectingBSB
DBField=collecting_bank
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=910,13,980,33
Align=Left
Font Name=Arial
Font Size=10
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_13]
Type=Label
Name=ModeLabel
Value=Key
Valid Foreground Colour=255,255,255
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Position=-112,13,-28,33
Align=Left
Font Size=0
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_14]
Type=Label
Name=ModeText
Value=Mode:
Valid Foreground Colour=255,255,0
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Foreground Colour=255,255,255
Position=-172,12,-112,32
Align=Right
Font Size=0
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_15]
Type=Label
Name=HeaderBackground1
Valid Background Colour=0,128,255
Invalid Background Colour=0,128,255
Deleted Background Colour=0,0,0
Position=23,10,-10,34
Align=Left
Font Size=0
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_16]
Type=Label
Name=HeaderBackground2
Valid Background Colour=255,255,255
Invalid Foreground Colour=200,200,200
Invalid Background Colour=255,255,255
Deleted Background Colour=255,255,255
Position=22,9,-9,35
Align=Left
Font Size=0
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_17]
Type=Image
Name=Image
Source=DIPS:Front Image
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=276,48,-184,-16
Default Display=Best Fit
Field Outline Ref=8
AutoFlip=no
AutoLoad=yes
Visible=yes
Display Outline=no
Snippet Position=0,0,0,0
Snippet Origin Ref=8
Snippet Zoom=1.00
Copyable=no
Saveable=no
Printable=no

[Control_18]
Type=Bitmap
Name=NabLogo
Source=g:\dips402\sys402\client\NabChq\Resources\NabLogo.bmp
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=-163,48,-7,108

[Control_19]
Type=Button
Name=Set UnProcessable
Value=Set UnProcessable
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=-163,312,-7,336
OnClick=[61][2][CodelineCorrect_Set_UnprocessFlag.TXF][][1][ResetAmount,{0,1}]

[Control_20]
Type=Button
Name=Flip Image
Value=Flip Image
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=-163,340,-7,364
OnClick=[61][2][nab_edit_flip_image.TXF][][0]

[Control_21]
Type=Bitmap
Name=CustomerLogo
Source=g:\dips402\sys402\client\NabChq\Resources\DefaultLockedBoxLogo.bmp
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=24,48,264,148

[Control_22]
Type=Bitmap
Name=PaymentTypeLogo
Source=g:\dips402\sys402\client\NabChq\Resources\DefaultLockedBoxLogo.bmp
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=24,160,264,260

[Control_23]
Type=Label
Name=HotkeysLabel
Value=Hotkeys:
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=26,278,180,300
Align=Left
Font Name=Courier New
Font Size=10
Font Bold=yes
Font Italic=no
Font 3D=no
Font Underline=yes
Font 3D Highlight Colour=0,0,0

[Control_24]
Type=Label
Name=Hotkey1
Value=F1 : Flip Image
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=26,304,180,322
Align=Left
Font Size=8
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_25]
Type=Label
Name=Hotkey2
Value=F2 : Set/Unset Processable
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=26,322,248,340
Align=Left
Font Size=8
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_26]
Type=Label
Name=Hotkey3
Value=F4 : Suspense Accounts
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=26,340,248,358
Align=Left
Font Size=8
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

[Control_27]
Type=Label
Name=Hotkey4
Value=F10 : Change Doc Type
Invalid Foreground Colour=255,0,0
Deleted Foreground Colour=255,255,255
Position=26,358,248,376
Align=Left
Font Size=8
Font Bold=no
Font Italic=no
Font 3D=no
Font Underline=no
Font 3D Highlight Colour=0,0,0

