<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost;publisherConfirms=true;timeout=10" />
    <add name="TrackingDb" connectionString="Data Source=localhost;Initial Catalog=VDBD_TRACKING;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Lombard\Logs\Lombard.Reporting.AdapterService.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{BusinessKey}] {Message}{NewLine}{Exception}" />
    <add key="topshelf:ServiceName" value="FXA.BPS.Lombard.Reporting.AdapterService" />
    <add key="topshelf:ServiceDescription" value="FXA Reporting Adapter Service" />
    <add key="topshelf:ServiceDisplayName" value="FXA Reporting Adapter Service" />

    <add key="queue:RequestExchangeName" value="lombard.service.reporting.executereport.request" />
    <add key="queue:ResponseExchangeName" value="lombard.service.reporting.executereport.response" />

    <!-- For non-local environments, this should map to the share of the BitLocker files -->
    <add key="reporting:CommandTimeout" value="300" />
    <add key="reporting:BitLockerLocation" value="C:\Lombard\Data\FakeBitLocker" />
    <add key="reporting:ReportExecution2005Reference" value="http://localhost/ReportServer/ReportExecution2005.asmx?wsdl"/>
    <add key="reporting:ReportService2010Reference" value="http://localhost/ReportServer/ReportService2010.asmx?wsdl"/>
    <add key="errorhandling:ErrorExchangeName" value="lombard.dlx" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <!-- TODO: review -->
      <basicHttpBinding>
        <binding name="ReportingService2010Soap" sendTimeout="00:05:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReportExecutionServiceSoap" maxReceivedMessageSize="20000000" sendTimeout="00:05:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- The value of "AnInvalidURI and AnotherInvalidURI" in each of the endpoint address will be replaced at runtime with the value from AppSettings-->
      <endpoint address="http://localhost:80/ReportServer/AnInvalidURI.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap" contract="RS2010.ReportingService2010Soap" name="ReportingService2010Soap" />
      <endpoint address="http://localhost:80/ReportServer/AnotherInvalidURI.asmx" binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap" contract="RE2005.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>