<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost" />
    <add name="dips" connectionString="Server=.\SQL2014;Integrated Security=true;Initial Catalog=NabChq" />
  </connectionStrings>
  <appSettings>
    <add key="ValidateCodelineRequestExchangeName" value="lombard.service.outclearings.validatecodeline.request" />
    <add key="ValidateCodelineResponseQueueName" value="lombard.service.outclearings.validatecodeline.response.queue" />
    <add key="CorrectCodelineRequestExchangeName" value="lombard.service.outclearings.correctcodeline.request" />
    <add key="CorrectCodelineResponseQueueName" value="lombard.service.outclearings.correctcodeline.response.queue" />
    <add key="ValidateTransactionRequestExchangeName" value="lombard.service.outclearings.validatetransaction.request" />
    <add key="ValidateTransactionResponseQueueName" value="lombard.service.outclearings.validatetransaction.response.queue" />
    <add key="CorrectTransactionRequestExchangeName" value="lombard.service.outclearings.correcttransaction.request" />
    <add key="CorrectTransactionResponseQueueName" value="lombard.service.outclearings.correcttransaction.response.queue" />
    <add key="CheckThirdPartyRequestExchangeName" value="lombard.service.outclearings.checkthirdparty.request" />
    <add key="CheckThirdPartyResponseQueueName" value="lombard.service.outclearings.checkthirdparty.response.queue" />
    <add key="GenerateCorrespondingVoucherRequestExchangeName" value="lombard.service.outclearings.generatevouchers.request" />
    <add key="GenerateCorrespondingVoucherResponseQueueName" value="lombard.service.outclearings.generatevouchers.response.queue" />
    <add key="GetPoolVouchersExchangeName" value="lombard.service.repository.getvouchersinformation.response" />
    <add key="GetPoolVouchersQueueName" value="lombard.service.repository.getvouchersinformation.request.queue" />
    <add key="GenerateBulkCreditExchangeName" value="lombard.service.outclearings.generatebulkcredit.request" />
    <add key="GenerateBulkCreditQueueName" value="lombard.service.outclearings.generatebulkcredit.response.queue" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.400" newVersion="2.2.4.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
