<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="rabbitMQ" connectionString="host=localhost;publisherConfirms=true;timeout=10" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Lombard\Logs\Lombard.Vif.Service.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{BusinessKey}] {Message}{NewLine}{Exception}" />
    <add key="topshelf:ServiceName" value="FXA.BPS.Lombard.Vif.Acknowledgement.Service" />
    <add key="topshelf:ServiceDescription" value="FXA VIF Acknowledgement Service" />
    <add key="topshelf:ServiceDisplayName" value="FXA VIF Acknowledgement Service" />
    <add key="queue:RequestExchangeName" value="lombard.service.outclearings.processvalueinstructionfileacknowledgment.request" />
    <add key="queue:ResponseExchangeName" value="lombard.service.outclearings.processvalueinstructionfileacknowledgment.response" />
    <!-- For non-local environments, this should map to the share of the BitLocker files -->
    <add key="vif:BitLockerLocation" value="C:\Lombard\Data\FakeBitLocker" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="errorhandling:ErrorExchangeName" value="lombard.dlx" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>